@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');



html,
body {
    height: 100%;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.white-font {
    color: white;
}

.height-100 {
    height: 100%;
}

.bg-dark-alpha {
    background-color: rgba(0, 0, 0, 0.2);
}

.bg-light-alpha {
    background-color: rgba(255, 255, 255, 0.2);
}

.login-form {
    width: 500px;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.title {
    color: #fff;
    font-size: 60px;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.card-movie {
    margin-left: 10%;
    width: 508px; 
    border: ridge white ;
    border-radius: 10px;
}

.card-image {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-title{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.movie-div{
    width: 572px;
}

.nav-filters{
    background-color: #fff;
    height: 60px;
    padding-top: 9px;
    border-radius: 10px;
    margin: 20px;
}

.custom-jumbotron{
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    margin: 20px;
}

a.image-movie{
    width: 502px;
    height: 752px;
}

.image-movie :hover{
    filter: opacity(.5);
}

html{
    overflow-x: hidden;
}

table{
    border: hidden;
}

thead{
    border: hidden;
}

tr{
    border: hidden;
}

td{
    border: hidden;
}

form{
    border: hidden;
}